* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  padding-top: 4%;
  padding-left: 10%;
  padding-bottom: 4%;
}

.container h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.container h1 img {
  width: 3.5rem;
  margin-right: 1rem;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  font-size: 1rem;
  border-radius: 2.5rem;
  padding: 1rem 1.5rem;
  margin: 1.75rem 0 1.25rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container button img {
  width: 2rem;
  margin-right: 1rem;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 30rem;
  min-height: 10rem;
  background: #fff;
  color: #333;
  padding: 1.25rem;
  margin: 1.25rem 0;
  outline: none;
  border-radius: 0.25rem;
}

.input-box img {
  width: 1.25rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}
